<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo" 				column="tran_no" 			 jdbcType="NUMERIC"/>
		<result property="purchaseProd.prodNo" 	column="prod_no" 			 jdbcType="NUMERIC"/>
		<result property="buyer.userId" 		column="buyer_id" 			 jdbcType="VARCHAR"/>
		<result property="paymentOption"		column="payment_option"      jdbcType="CHAR" />
		<result property="receiverName" 		column="receiver_name" 		 jdbcType="VARCHAR" />
		<result property="receiverPhone" 		column="receiver_phone"      jdbcType="VARCHAR" />
		<result property="divyAddr" 			column="dlvy_addr" 	         jdbcType="VARCHAR" />
		<result property="divyRequest" 			column="dlvy_request" 		 jdbcType="VARCHAR" />
		<result property="tranCode" 			column="tran_status_code" 	 jdbcType="CHAR" />
		<result property="orderDate" 			column="order_date" 	     jdbcType="DATE" />
		<result property="divyDate" 			column="dlvy_date" 		     jdbcType="DATE" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addPurchase"		parameterType="purchase" >
	 	INSERT
		INTO transaction
		VALUES	 ( seq_transaction_tran_no.nextval , #{purchaseProd.prodNo} , #{buyer.userId} , #{paymentOption} ,  
							#{receiverName} , #{receiverPhone} , #{divyAddr}, #{divyRequest}, 
							'002', SYSDATE, #{divyDate} )
	 </insert>
	 
 <!-- SQL : SELECT ONE -->
	 <select id="findPurchase"	parameterType="int"	resultMap="purchaseSelectMap">
		SELECT 
		* 
		FROM transaction 
		WHERE tran_no = #{value}
	 </select>
	 
 <!-- SQL : SELECT ONE -->
	 <select id="findTranInfo"	parameterType="int"	resultMap="purchaseSelectMap">
		SELECT 
		* 
		FROM transaction 
		WHERE prod_no = #{value}
	 </select>	 
	 
 <!-- SQL : UPDATE -->
	 <update	id="updatePurchase"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		receiver_name 	= #{receiverName} ,
			dlvy_addr	= #{divyAddr} ,
			receiver_phone 	= #{receiverPhone}		
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 <update	id="updateTrancode"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		tran_status_code = #{tranCode}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 <select  id="getPurchaseList"  parameterType="map"	resultMap="purchaseSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT t.tran_no, u.user_id, t.receiver_name, t.receiver_phone, t.tran_status_code, p.prod_no 
				 						FROM users u, transaction t, product p 
				 						
												<where>
														t.buyer_id = u.user_id 
														AND t.prod_no = p.prod_no
														AND u.user_id = #{userId}
												</where>
												
											ORDER BY t.tran_no ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 	 <select  id="getTotalCount"  parameterType="string"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT *
						FROM transaction						
							<where>
								buyer_id = #{value}
							</where>
						 ) countTable						
	 </select>
	 
</mapper>